@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

html {
    font-size: 18px;
}

body {
    position: relative; 
    min-height: 100vh;
    font-family: $ff-primary;
    padding: 0 32px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $ff-secondary;
}