@keyframes nav-slideIn {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        visibility: visible;
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes nav-slideOut {
    0% {
        visibility: visible;
        transform: translate(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}